* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', serif;
  font-weight: 600;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  padding: 0;
  margin: 0;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: #1992d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 50px;
  overflow: auto;
}

.sidebar > * {
  color: #ffffff;
  font-weight: 500;
  width: 100%;
  font-size: 24px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 14px 0;
}

.main-content {
  background-color: #e2e8f0;
}

.profile-picture {
  border-radius: 50%;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 4px 2px -2px gray;
}

.header > div {
  display: grid;
}

.header-top {
  grid-template-columns: 65% 25%;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 8%;
}

.header-top > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-top-search {
  gap: 8px !important;
}

.header-top-search-bar {
  appearance: none;
  height: 3em;
  border-radius: 20px;
  background-color: #e2e8f0;
  border: none;
  flex: 1;
  padding: 8px;
}

.header-top-account {
  justify-self: end;
}

.header-top-profile {
  height: 3em;
}

.header-bottom {
  padding: 10px 20px 15px 40px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-bottom-greeting-text {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.header-bottom-greeting-top {
  font-size: 12px;
}

.header-bottom-greeting-bottom {
  font-size: 24px;
}

.header-bottom-buttons {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-bottom-button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  background-color: #1992d3;
  font-size: 16px;
}

.header-bottom-greeting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-bottom-greeting-profile {
  height: 4em;
}

.header-icon {
  height: 1.6em;
}

.main-content {
  display: grid;
  grid-template-columns: 66% 31%;
  grid-template-rows: 55% 42%;
  gap: 3%;
  padding: 10px;
  padding-bottom: 100px;
}

.main-content-projects {
  grid-row: 1 / -1;
  padding: 20px;
}

.main-content-project-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  height: 100%;
}

.main-content-project {
  padding: 30px 15px;
  display: grid;
  grid-template-rows: 60% 25%;
  gap: 20%;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 8px;
  border-left: 8px solid #f0b329 !important;
  border: 0px solid #ffffff;
  font-size: 100%;
  justify-content: center;
}

.main-content-projects-title {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 8px;
  font-size: 24px;
  margin-bottom: 2px;
  font-size: 1.3em;
}

.main-content-announcements {
  background-color: aquamarine;
  grid-column: 2;
}

.main-content-trending {
  background-color: orange;
  grid-row: 2;
}

.main-content-project-icon {
  width: 1.7em;
}

.main-content-project-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.main-content-project-title {
  font-weight: 500;
}

.main-content-project-para {
  font-weight: 250;
  font-size: 0.8em;
}

.main-content-project-icons {
  justify-self: end;
  position: relative;
  display: flex;
  gap: 8px;
  margin-right: 16px;
  align-self: end;
}
